#main-content {
  width: auto;
  margin: 0 1rem;
}

h2 {
  font-size: 175%;
}

h3 {
  font-size: 150%;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #cccccc;
}

h4 {
  font-size: 120%;
  font-weight: normal;
}

h5, h6, h7 {
  font-size: 100%;
  font-weight: bold;
  margin-top: 1rem;
}

mark {
  text-decoration-line: underline;
  text-decoration-style: double;
  background-color: transparent;
  color: inherit;
}

.glyphicon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
}

button.glyphicon {
  background: transparent;
  border: 0;
  color: #005DA8;
  cursor: pointer;
  padding: 0;
}

.glyphicon-triangle-right::before {
  content: "\25B6";
  padding: .33rem;
}

.glyphicon-triangle-bottom::before {
  content: "\25BC";
  padding: .33rem;
}

.glyphicon-arrow-up::before {
  content: "\21D1";
}

#toc {
  position: sticky;
  top: 0;
  float: left;
  width: 360px;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  border-radius: .25rem;
  box-shadow: 2px 2px 2px #cccccc;
  overflow-y: auto;
}

#toc .glyphicon {
  margin-right: 0.5rem;
}

#toc .list-unstyled {
  list-style: none;
  padding: 0;
}

#toc ul li {
  margin-bottom: .5rem;
}

#toc > h2,
#toc > ul.list-unstyled {
  padding: 0 1rem;
}

#toc > h2 .glyphicon {
  margin-left: .5rem;
}

#toc > ul.list-unstyled {
  margin-bottom: 2rem;
}

#toc > ul > li > ul {
  display: none;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

#main {
  margin-left: 380px;
  padding: 0 .5rem;
}

#main h2 {
  color: #6C34A8;
}

#docBody > h3:first-of-type {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

#docBody .glyphicon {
  margin: auto 0.5rem;
}

#downloads {
  float: right;
}

#downloads .btn {
  color: #ffffff;
	background-color: #43177d;
	border: 1px solid #43177d;
  display: inline-block;
  padding: .25rem .5rem;
  margin-right: .25rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border-radius: .25rem;
  font-size: 1rem;
  line-height: 1.5;
}

#downloads .btn:hover {
  color: #ffffff;
	background-color: #6335a3;
	border: 1px solid #43177d;
}

dl {
  display: grid;
  grid-template-columns: 200px auto;
  grid-auto-flow: row;
}

dt {
  text-align: right;
  font-weight: 700;
}

dd {
  margin: 0 0 1rem 1rem;
}

dd p {
  margin-top: 0;
}

th, td {
  padding: .5rem;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

a[href="#top"] {
  font-size: 1rem;
  font-weight: normal;
  background: #43177d;
  color: #ffffff;
  padding: .25rem .5rem .25rem 0;
  text-decoration: none;
  float: right;
  margin-top: 3rem;
}

#dscdiv-content a[href="#top"] {
  margin-top: 0;
}

a#aeon {
  color: #ffffff;
  padding: .5rem .5rem .5rem 2.5rem;
  text-decoration: none;
  background-color: #43177d;
  background-image: url('/layout/images/aeon.png');
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: .5rem;
}

a[href="#top"]:hover,
a[href="#top"]:focus,
a#aeon:hover,
a#aeon:focus {
  color: #ffffff;
  text-decoration: underline;
}

#dscdiv-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.c0x_table {
  display: table;
  padding: 1rem;
}

.c0x_row {
  display: table-row;
}

.c0x_row > div {
  display: table-cell;
  padding: .5rem 1rem;
  border-top: 1px solid #cccccc;
}

.c0x_table_labels {
  font-weight: bold;
}

.c0x_label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#main .footer {
  text-align: center;
}

#main .footer .author {
  font-size: 120%;
}

.hidden {
  display: none;
}

/*.dsc .note::before {
  content: "\2B25";
}*/

#qr-loading {
  min-width:232px;
  min-height:232px;
  background: url('/layout/images/loading.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

#dialog-qr {
  text-align: center;
  padding: 1rem;
}

img.daoimage {
  width: 400px;
  max-width: 100%;
  display: block;
}

/* Responsive styles */
@media screen and (max-width: 1200px) {
  
  #toc {
    position: relative;
    float: none;
    width: 100%;
    background-color: transparent;
    border-radius: none;
    box-shadow: none;
    overflow: auto;
  }
  
  #toc > h2 {
    font-size: 120%;
  }
  
  #main {
    margin-left: 0;
    padding: 0 1rem;
  }
  
  #main > h2 {
    margin-top: 0;
  }
  
}

@media screen and (max-width: 760px) {
  
  a[href="#top"] {
    display: none !important;
  }
  
  dl {
    display: block;
  }

  dt {
    text-align: left;
  }

  dd {
    margin-left: 0;
  }
  
  .c0x_table_labels {
    display: none !important;
  }
  
  .c0x_table .c0x_label {
    position: relative;
  }
  
  .c0x_label::after {
    content: ': ';
  }

  li.c0x_table_row {
    display: list-item;
    border-bottom: 1px solid #cccccc;
  }
  
  div.c0x_table_row {
    display: block;
  }

  .c0x_table_row > div {
    display: block;
    border: none;
  }
  
  .c0x_table_row:last-child > div {
    padding-bottom: inherit;
  }
  
}