@media print {
  
  body {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
  }
  
  /* Hide table of contents, downloads, glyphicons, return to top links, and toggle */
  #toc,
  #downloads,
  a[href="#top"],
  .glyphicon,
  label[for="dsc-toggle"]{
    display: none;
  }
  
  /* Remove margin and padding on wrapper divs */
  #main-content, 
  #main, 
  #header  {
    margin: 0;
    padding: 0;
  }
  
  /* Style headings */
  h1 {
    margin-left: 0;
  }
  
  h2 {
    font-size: 24pt;
  }
  
  h3 {
    font-size: 18pt;
    border: none;
    padding-top: 0;
  }
  
  h4 {
    font-size: 14pt;
  }
  
  /* Prevent page breaks in the middle of elements */
  #docBody div {
    page-break-before: avoid;
    page-break-after: avoid;
  }
  
  #docBody table tr {
    page-break-inside: avoid;
  }
  
  /* Align footer left */
  #main .footer {
    text-align: left;
  }
  
  /* Remove double underline from search term */
  mark {
    text-decoration: none;
  }
  
  /* Simplify card display */
  li.white,
  li.gray {
    background: transparent;
  }

  #dscdiv-content ul {
    list-style: none;
  }

  #dscdiv-content ul ul { 
    list-style-type: disc;
  }

  #dscdiv-content ul ul ul {
    list-style-type: circle;
  }

  #dscdiv-content li {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
  }

  .dsc-footer {
    display: none;
  }

  
  
}