#form-harvest-single label {
  display: block;
  font-weight: bold;
}

#form-harvest-single label.inline {
  display: inline;
  font-weight: normal;
}

#form-harvest-single input[type="text"] {
  width: 95%; 
}