#home-columns h3 {
  margin: 0;
  font-weight: normal;
}

#home-columns ul {
  margin-top: 0;
}

/* Finding Aids Tab */

#finding-aids {
  width: 100%;
  background: #ffffff;
}

#finding-aids .date {
  white-space: nowrap;
}

#finding-aids .date button {
  color: #0066cc;
  background: transparent;
  text-decoration: underline;
  font-size: 100%;
  cursor: pointer;
}

#finding-aids .history {
  display: none;
}

#reset {
  background: #555555;
}

#reset:hover {
  background: #666666;
}

button.help {
  display: inline-block;
  background: #eeeeee;
  color: #333333;
  padding: 0;
  width: 1rem;
  border-radius: .5rem;
  border: 1px solid #333333;
  font-size: 75%;
  vertical-align: top;
  cursor: pointer;
}

button.help:hover,
button.help:focus {
  background: #f9f9f9;
}

button.btn-delete {
  background: #555555;
}
button.btn-delete:hover,
button.btn-delete:focus {
  background: #666666; 
}

.pagination {
  display: flex;
  margin: .5rem 0;
}

.prev, .next {
  flex: 0 0 100px;
}

.next {
  text-align: right;
}

.num-results {
  flex: 1 1 auto;
  text-align: center;
}

.prev button, .next button {
  display: none;
}

.ui-dialog .ui-dialog-title {
  float: none;
  white-space: normal;
  display: inline-block;
}

/* Jobs Tab */

#results table ul {
  padding-left: 1rem;
}

button.btn-terminate {
  background: #772222;
}
button.btn-terminate:hover,
button.btn-terminate:focus {
  background: #994444; 
}

/* Alert */
.alert {
  background: #ffffcc;
  padding: .5rem;
  border: 1px solid #cccccc;
}

